@font-face {
  font-family: 'HanaB';
  src: url('../font/HanaB.eot');
  src: url('../font/HanaB.eot?#iefix') format('embedded-opentype'),
       url('../font/HanaB.svg#HanaB') format('svg'),
       url('../font/HanaB.ttf') format('truetype'),
       url('../font/HanaB.woff') format('woff'),
       url('../font/HanaB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

